@import url(https://db.onlinewebfonts.com/c/0ab46e1b2f236c9fad58c1e34cdecdf1?family=Roobert);

* {
  font-family: roobert, roobert Fallback;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #1a1b1c;
}

.container {
  padding: 16px 32px;
}

.row {
  display: flex;
  width: 100%;
}

.hidden {
  opacity: 0;
}

a {
  text-decoration: none;
}

.back-button--text {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -2%;
  font-weight: 600;
  padding-left: 16px;
}

/*  HOME  */

#home {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#home .row {
  align-items: center;
  height: 100%;
  position: relative;
}

.home-title {
  font-weight: 300;
  font-size: 128px;
  line-height: 120px;
  letter-spacing: -7%;
  text-align: center;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  transition: all 1s ease;
}

.home-title--bottom {
  transition: all 1s ease;
  transform: translateX(0%);
}

.home-title--right .home-title--bottom {
  transform: translateX(-20%);
}

.home-title--left .home-title--bottom {
  transform: translateX(20%);
}


.home-title--right {
  left: 0%;
  transform: translateX(0%);
}

.home-title--left {
  transform: translateX(50%);
}

.home-button {
  position: absolute;
  left: 0;
  transition: opacity 0.2s ease;
}

.home-button:nth-child(3) {
  left: 100%;
  transform: translateX(-100%);
}

.home-button--wrapper {
  display: flex;
  align-items: center;
}

.home-button--text {
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -2%;
  padding: 0px 8px;
  color: #1a1b1c7f;
}

.home-rectangle {
  border: #A0A4AB dotted 2px;
  width: 602px;
  aspect-ratio: 1/1;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  z-index: -1;
  transition: opacity 0.2s ease;
}

.home-rectangle--left {
  left: 0;
}

.home-rectangle--right {
  left: 100%;
}

.home-info {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0%;
  text-transform: uppercase;
  max-width: 315px;
}

.home-small {
  display: none;
}

.home-button--wrapper {
    cursor: pointer;
}

.home-button--wrapper img{
    transform: scale(1);
    transition: transform 0.2s ease;
}

.home-button--wrapper:hover img{
    transform: scale(1.1);
}

/*HOME PAGE ADJUSTMENT*/
@media (max-width: 1200px) {
  #home.container {
    padding: 36px 36px;
  }

  .home-title {
    font-size: 70px;
    line-height: 60px;
  }

  .home-rectangle {
    max-width: 350px;
    width: 60vw;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
  }

  .home-rectangle--right {
    max-width: 400px;
    width: 65vw;
  }

  .home-button:nth-child(1) {
    display: none;
  }

  .home-button:nth-child(3) {
    display: none;
  }

  .home-info {
    display: none;
  }

  .home-small {
    display: block;
  }

  .home-title .home-info {
    margin: 0 auto;
    text-align: center;
    padding-top: 24px;
    display: block;
  }

  .home-button--wrapper {
    justify-content: center;
    width: 100%;
  }
}

/*MEDIUM DEVICES*/
@media (max-width: 768px){
}

/*SMALL DEVICES*/
@media (max-width: 480px) {
  .home-title {
    font-size: 50px;
    line-height: 40px;
  }
}