#testing {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#testing .row {
    flex-direction: column;
    justify-content: center;
    height: 100%;
    position: relative;
    padding: 32px 0px;
}

.testing-button--text--right {
    padding-left: 0px;
    padding-right: 16px;
}

.testing-error {
    color: red;
}

.testing-analysis {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -2%;
    text-transform: uppercase;
    top: 0;
    padding-top: 64px;
    position: absolute;
}

.testing-rectangle {
  border: #A0A4AB80 dotted 2px;
  width: 400px;
  aspect-ratio: 1/1;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  z-index: -1;
  transition: opacity 0.2s ease;
  animation: "spin" 100s linear infinite;
}

.testing-rectangle:nth-child(2) {
  border: #A0A4Ab60 dotted 2px;
  width: 480px;
  animation: "spin" 90s linear infinite;
}

.testing-rectangle:nth-child(3) {
  animation: "spin" 80s linear infinite;
  border: #a0a4ab40 dotted 2px;
  width: 560px;
}

.testing-subtitle {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0%;
    text-transform: uppercase;
    color: #1a1b1c7f;
}

.testing-subtitle--bigger {
    font-size: 24px;
    letter-spacing: 7%;
    color: #1a1b1c;
    padding-bottom: 24px;
}

.testing-input {
    font-weight: 400;
    font-size: 60px;
    line-height: 64px;
    letter-spacing: -7%;
    text-align: center;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    max-width: 500px;
}

.testing-input:focus-visible {
    outline: 0;
}

.testing-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    width: 100%;
}

@keyframes spin {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

.testing-back-button {
    margin-top: auto;
    margin-bottom: 24px;
}

.home-button--wrapper {
    width: 0%;
    justify-content:left;
}

.testing-dots {
    display: flex;
}

.testing-dot {
    height: 12px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background: #A0A4Ab60;
    margin: 8px;
    animation: dot-anim 1s ease-in-out infinite;
}

.testing-dot:nth-child(2) {
    animation: dot-anim 1s ease-in-out infinite 0.1s;
}

.testing-dot:nth-child(3) {
    animation: dot-anim 1s ease-in-out infinite 0.2s;
}

.buttons--wrapper {
    display: flex;
    justify-content: space-between;
}

@keyframes dot-anim {
    0% {
        transform: translateY(0px);
        filter: brightness(10%);
    }
    50% {
        transform: translateY(5px);
    }
    100% {
        transform: translateY(0px);
    }
}

@media (max-width:700px) {

    .testing-rectangle:nth-child(1) {
        width: 30vw;
    }

    .testing-rectangle:nth-child(2) {
        width: 40vw;
    }

    .testing-rectangle:nth-child(3) {
        width: 50vw;
    }
}

@media (max-width:500px) {

    .testing-input {
        font-size: 40px;
        max-width: 340px !important;
    }

}